<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('../../assets/images/img1.jpg');">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
              <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                  <!-- start sub title -->
                  <span class="display-block text-white opacity6 alt-font margin-5px-bottom">We are amazing to work with.</span>
                  <!-- end sub title -->
                  <!-- start page title -->
                  <h1 class="alt-font text-white font-weight-600 no-margin-bottom">Wanna get to know us?</h1>
                  <!-- end page title -->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end page title section -->
<!-- start story section -->
<section class="wow fadeIn animated animated">
  <div class="container">
      <div class="row equalize sm-equalize-auto">
          <div class="col-md-5 col-sm-12 col-xs-12 text-center sm-margin-30px-bottom wow fadeInLeft">
              <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle width-100 height-100">
                      <img src="../../assets/images/img1.jpg" alt="" class="border-radius-6 width-100">
                  </div>
              </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
              <div class="display-table width-100 height-100">
                  <div class="display-table-cell vertical-align-middle padding-twelve-lr sm-text-center sm-no-padding width-100">
                      <span class="text-deep-green alt-font margin-10px-bottom display-inline-block text-medium">Don’t worry, you’re in safe hands.</span>
                      <h6 class="alt-font text-extra-dark-gray">We are committed to our customers’ success from start to finish. Our input helps make their solutions.</h6>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is printing and typesetting simply dummy text.</p>
                      <a [routerLink]="['/', 'services']" class="btn btn-blue btn-small text-extra-small btn-rounded margin-5px-top">Our Services</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end story section -->
<!-- start feature box  -->
  <h2 class="text-center">We are...</h2>
<section class="bg-extra-dark-gray wow fadeIn md-padding-two-lr">
  <div class="container">
      <div class="row">
          <!-- feature box item-->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 feature-box-1 xs-margin-30px-bottom wow fadeInRight">
              <div class="col-md-12 col-sm-12 no-padding margin-15px-bottom alt-font">
                  <h3 class="char-value letter-spacing-minus-1 text-deep-green font-weight-300">01.</h3>
                  <span class="text-large line-height-22 padding-20px-left sm-padding-15px width-100 display-table-cell vertical-align-middle">Creativity.<br> Discover talent.</span>
              </div>
              <p class="width-90 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
              <div class="clearfix"></div>
              <div class="separator-line-horrizontal-medium-light3 bg-deep-blue margin-5px-top"></div>
          </div>
          <!-- end feature box item-->
          <!-- start feature box item-->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 feature-box-1 xs-margin-30px-bottom  wow fadeInRight" data-wow-delay="0.2s">
              <div class="col-md-12 col-sm-12 no-padding margin-15px-bottom alt-font">
                  <h3 class="char-value letter-spacing-minus-1 text-deep-green font-weight-300">02.</h3>
                  <span class="text-large line-height-22 padding-20px-left width-100 display-table-cell vertical-align-middle">Technology.<br> Expert analysis.</span>
              </div>
              <p class="width-90 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
              <div class="clearfix"></div>
              <div class="separator-line-horrizontal-medium-light3 bg-deep-blue margin-5px-top"></div>
          </div>
          <!-- end feature box item-->
          <!-- start feature box item-->
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 feature-box-1  wow fadeInRight" data-wow-delay="0.4s">
              <div class="col-md-12 col-sm-12 no-padding margin-15px-bottom alt-font">
                  <h3 class="char-value letter-spacing-minus-1 text-deep-green font-weight-300">03.</h3>
                  <span class="text-large line-height-22 padding-20px-left width-100 display-table-cell vertical-align-middle">Discover.<br> Explore work.</span>
              </div>
              <p class="width-90 md-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
              <div class="clearfix"></div>
              <div class="separator-line-horrizontal-medium-light3 bg-deep-blue margin-5px-top"></div>
          </div>
          <!-- end feature box item-->
      </div>
  </div>
</section>
<!-- end feature box -->
<!-- start section -->
<section class="wow fadeIn last-paragraph-no-margin">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 text-center center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom">
              <span class="alt-font text-deep-blue text-medium margin-5px-bottom display-block">This is the OK Accounting Site papa said i should build.</span>
              <h6 class="font-weight-400 text-extra-dark-gray alt-font">They do forensic accounting, financial advisory and the rest!</h6>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 no-padding margin-eight-bottom sm-margin-30px-bottom">
              <div class="col-md-8 col-sm-8 col-xs-12 xs-margin-15px-bottom wow fadeInLeft" data-wow-delay="0.2s">
                  <img src="images/about-img1.jpg" alt="" class="border-radius-6">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
                  <img src="images/about-img2.jpg" alt="" class="border-radius-6 xs-width-100">
              </div>
          </div>
      </div>
      <div class="row equalize sm-equalize-auto">
          <div class="col-md-4 display-table sm-margin-15px-bottom">
              <div class="display-table-cell vertical-align-middle">
                  <span class="text-extra-large text-extra-dark-gray alt-font width-90 display-block">We're fortunate to work with fantastic clients from across the globe in over 11 countries on design and branding.</span>
              </div>
          </div>
          <div class="col-md-4 display-table sm-margin-15px-bottom">
              <div class="display-table-cell vertical-align-middle">
                  <strong class="font-weight-600 text-extra-dark-gray margin-5px-bottom display-block alt-font">Our Mission</strong>
                  <blockquote class="border-color-deep-green">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                  </blockquote>
              </div>
          </div>
          <div class="col-md-4 display-table">
              <div class="display-table-cell vertical-align-middle">
                  <strong class="font-weight-600 text-extra-dark-gray margin-5px-bottom display-block alt-font">Our Vision</strong>
                  <blockquote class="border-color-deep-green">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                  </blockquote>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end section -->
<!-- start slider section  -->
<section id="clients" class="parallax wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('images/homepage-9-parallax-img5.jpg');">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container text-center">
      <div class="row">
          <div class="swiper-slider-clients swiper-container white-move">
              <div class="swiper-wrapper">
                  <!-- start slide item--><div class="swiper-slide text-center"><a href="http://envato.com/"><img src="../../assets/images/clients-logo1.png" alt=""></a></div><!-- end slide item -->
                  <!-- start slide item--><div class="swiper-slide text-center"><a href="http://woocommerce.com/"><img src="../../assets/images/clients-logo2.png" alt=""></a></div><!-- end slide item -->
                  <!-- start slide item--><div class="swiper-slide text-center"><a href="http://wordpress.com/"><img src="../../assets/images/clients-logo3.png" alt=""></a></div><!-- end slide item -->
                  <!-- start slide item--><div class="swiper-slide text-center"><a href="http://magento.com/"><img src="../../assets/images/clients-logo4.png" alt=""></a></div><!-- end slide item -->
                  <!-- start slide item--><div class="swiper-slide text-center"><a href="http://envato.com/"><img src="../../assets/images/clients-logo1.png" alt=""></a></div><!-- end slide item -->
                  <!-- start slide item--><div class="swiper-slide text-center"><a href="http://woocommerce.com/"><img src="../../assets/images/clients-logo2.png" alt=""></a></div><!-- end slide item -->
                  <!-- start slide item--><div class="swiper-slide text-center"><a href="http://wordpress.com/"><img src="../../assets/images/clients-logo3.png" alt=""></a></div><!-- end slide item -->
                  <!-- start slide item--><div class="swiper-slide text-center"><a href="http://magento.com/"><img src="../../assets/images/clients-logo4.png" alt=""></a></div><!-- end slide item -->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end slider section -->
<!-- start testimonial section -->
<section class="wow fadeIn animated bg-light-gray testimonial-style3">
<h4 class="text-deep-blue mt-2 text-center">Testimonial Section.</h4>
  <div class="container">
      <div class="row">
          <div class="sm-width-60 sm-center-col xs-width-100">
              <div class="col-md-4 sm-margin-two-bottom wow fadeIn last-paragraph-no-margin testimonial-style3">
                  <div class="testimonial-content-box padding-twelve-all bg-white border-radius-6 box-shadow arrow-bottom sm-padding-eight-all">
                      I wanted to hire the best and after looking at several other companies, I knew Jacob was the perfect guy for the job. He is a true professional.
                  </div>
                  <!-- start testimonials item -->
                  <div class="testimonial-box padding-25px-all xs-padding-20px-all">
                      <div class="image-box width-20"><img src="images/avtar-14.jpg" class="border-radius-100" alt=""></div>
                      <div class="name-box padding-20px-left">
                          <div class="alt-font font-weight-600 text-small text-uppercase text-extra-dark-gray">Shoko Mugikura</div>
                          <p class="text-extra-small text-uppercase text-medium-gray">Graphic Designer</p>
                      </div>
                  </div>
              </div>
              <!-- end testimonials item -->
              <!-- start testimonials item -->
              <div class="col-md-4 sm-margin-two-bottom wow fadeIn last-paragraph-no-margin testimonial-style3" data-wow-delay="0.2s">
                  <div class="testimonial-content-box padding-twelve-all bg-white border-radius-6 box-shadow arrow-bottom sm-padding-eight-all">
                      This is an excellent company! I personally enjoyed the energy and the professional support the whole team gave to us into creating website.
                  </div>
                  <div class="testimonial-box padding-25px-all xs-padding-20px-all">
                      <div class="image-box width-20"><img src="images/avtar-15.jpg" class="border-radius-100" alt=""></div>
                      <div class="name-box padding-20px-left">
                          <div class="alt-font font-weight-600 text-small text-uppercase text-extra-dark-gray">Alexander Harvard</div>
                          <p class="text-extra-small text-uppercase text-medium-gray">Creative Director</p>
                      </div>
                  </div>
              </div>
              <!-- end testimonials item -->
              <!-- start testimonials item -->
              <div class="col-md-4 wow fadeIn last-paragraph-no-margin testimonial-style3" data-wow-delay="0.4s">
                  <div class="testimonial-content-box padding-twelve-all bg-white border-radius-6 box-shadow arrow-bottom sm-padding-eight-all">
                      Their team are easy to work with and helped me make amazing websites in a short amount of time. Thanks again guys for all your hard work.
                  </div>
                  <div class="testimonial-box padding-25px-all xs-padding-20px-all">
                      <div class="image-box width-20"><img src="images/avtar-16.jpg" class="border-radius-100" alt=""></div>
                      <div class="name-box padding-20px-left">
                          <div class="alt-font font-weight-600 text-small text-uppercase text-extra-dark-gray">Herman Miller</div>
                          <p class="text-extra-small text-uppercase text-medium-gray">Co Founder / CEO</p>
                      </div>
                  </div>
              </div>
              <!-- end testimonials item -->
          </div>
      </div>
  </div>
</section>
<!-- end testimonial section -->
<!-- start team section -->
<section class="wow fadeIn">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-6 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
              <div class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-small">we believe in business growth</div>
              <h5 class="alt-font text-extra-dark-gray font-weight-600">Talent wins games, but teamwork and intelligence wins championships</h5>
          </div>
      </div>
      <div class="row">
          <!-- start team item -->
          <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 sm-margin-seven-bottom xs-margin-30px-bottom wow fadeInRight" data-wow-duration="900ms">
              <figure>
                  <div class="team-image xs-width-100">
                      <img src="images/team13.jpg" alt="">
                      <div class="overlay-content text-center">
                          <div class="display-table height-100 width-100">
                              <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                                  <span class="text-white text-small display-inline-block no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry dummy text.</span>
                                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                                  <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                  <a href="http://twitter.com/" class="text-white" target="_blank"><i class="fab fa-twitter"></i></a>
                                  <a href="http://plus.google.com/" class="text-white" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="http://instagram.com/" class="text-white" target="_blank"><i class="fab fa-instagram"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                  </div>
                  <figcaption>
                      <div class="team-member-position margin-20px-top text-center">
                          <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Herman Miller</div>
                          <div class="text-extra-small text-uppercase text-medium-gray">Co-Founder / Design</div>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <!-- end team item -->
          <!-- start team item -->
          <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 sm-margin-seven-bottom xs-margin-30px-bottom wow fadeInRight" data-wow-duration="900ms" data-wow-delay="0.2s">
              <figure>
                  <div class="team-image xs-width-100">
                      <img src="images/team18.jpg" alt="">
                      <div class="overlay-content text-center">
                          <div class="display-table height-100 width-100">
                              <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                                  <span class="text-white text-small display-inline-block no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry dummy text.</span>
                                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                                  <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                  <a href="http://twitter.com/" class="text-white" target="_blank"><i class="fab fa-twitter"></i></a>
                                  <a href="http://plus.google.com/" class="text-white" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="http://instagram.com/" class="text-white" target="_blank"><i class="fab fa-instagram"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                  </div>
                  <figcaption>
                      <div class="team-member-position margin-20px-top text-center">
                          <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Bill Gardner</div>
                          <div class="text-extra-small text-uppercase text-medium-gray">Co-Founder / Design</div>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <!-- end team item -->
          <!-- start team item -->
          <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 xs-margin-30px-bottom wow fadeInRight" data-wow-duration="900ms" data-wow-delay="0.4s">
              <figure>
                  <div class="team-image xs-width-100">
                      <img src="images/team14.jpg" alt="">
                      <div class="overlay-content text-center">
                          <div class="display-table height-100 width-100">
                              <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                                  <span class="text-white text-small display-inline-block no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry dummy text.</span>
                                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                                  <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                  <a href="http://twitter.com/" class="text-white" target="_blank"><i class="fab fa-twitter"></i></a>
                                  <a href="http://plus.google.com/" class="text-white" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="http://instagram.com/" class="text-white" target="_blank"><i class="fab fa-instagram"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                  </div>
                  <figcaption>
                      <div class="team-member-position margin-20px-top text-center">
                          <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Jeremy Dupont</div>
                          <div class="text-extra-small text-uppercase text-medium-gray">Creative Director</div>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <!-- end team item -->
          <!-- start team item -->
          <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 wow fadeInRight" data-wow-duration="900ms" data-wow-delay="0.6s">
              <figure>
                  <div class="team-image xs-width-100">
                      <img src="images/team17.jpg" alt="">
                      <div class="overlay-content text-center">
                          <div class="display-table height-100 width-100">
                              <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                                  <span class="text-white text-small display-inline-block no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry dummy text.</span>
                                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                                  <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                  <a href="http://twitter.com/" class="text-white" target="_blank"><i class="fab fa-twitter"></i></a>
                                  <a href="http://plus.google.com/" class="text-white" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                                  <a href="http://instagram.com/" class="text-white" target="_blank"><i class="fab fa-instagram"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                  </div>
                  <figcaption>
                      <div class="team-member-position margin-20px-top text-center">
                          <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Sara Smith</div>
                          <div class="text-extra-small text-uppercase text-medium-gray">Creative Studio Head</div>
                      </div>
                  </figcaption>
              </figure>
          </div>
          <!-- end team item -->
      </div>
  </div>
</section>
