<header>
  <!-- start navigation -->
  <nav class="navbar navbar-default bootsnav navbar-fixed-top header-light bg-secondary nav-box-width">
      <div class="container nav-header-container">
          <div class="row">
              <!-- start logo -->
              <div class="col-md-2 col-xs-5">
                  <a routerLink="/home" title="OK Accounting Firm" class="logo"><img src="../../../assets/images/logo.jpg" data-rjs="images/logo@2x.png" class="logo-dark" alt="OK Accounting Firm"></a>
              </div>
              <!-- end logo -->
              <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu">
                  <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                      <span class="sr-only">toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                      <ul class="nav navbar-nav navbar-left panel-group no-margin alt-font font-weight-700">
                          <li>
                              <a title="Home" class="inner-link"
                              routerLink="/home"
                              routerLinkActive="active"
                              routerLinkActiveOptions="{ exact: true }">
                                  Home
                                </a>
                            </li>
                          <li>
                              <a title="Services" class="inner-link"
                              routerLink="/services"
                              routerLinkActive="active"
                              routerLinkActiveOptions="{ exact: true }">
                                  Services
                                </a>
                            </li>
                          <li>
                              <a title="About" class="inner-link"
                              routerLink="/about"
                              routerLinkActive="active"
                              routerLinkActiveOptions="{ exact: true }">
                                  About
                                </a>
                            </li>
                          <li>
                              <a title="Contact" class="inner-link"
                              routerLink="/contact"
                              routerLinkActive="active"
                              routerLinkActiveOptions="{ exact: true }">
                                  Contact
                                </a>
                            </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </nav>
  <!-- end navigation -->  
</header>
<!-- end header -->