<section id="home" class="no-padding parallax mobile-height" data-stellar-background-ratio="0.5" style="background-image:url('../../assets/images/error-404.jpg');">
  <div class="opacity-full bg-extra-dark-gray"></div>
  <div class="container position-relative full-screen">
      <div class="slider-typography text-center">
          <div class="slider-text-middle-main">
              <div class="slider-text-middle">
                  <div class="bg-black-opacity-light width-50 center-col sm-width-80">
                      <div class="padding-fifteen-all xs-padding-20px-all">
                          <span class="title-extra-large text-danger font-weight-600 display-block margin-30px-bottom xs-margin-10px-bottom">404!</span>
                          <h6 class="text-uppercase text-info font-weight-600 alt-font display-block margin-5px-bottom">Page Not Found</h6>
                          <span class="text-medium-gray width-60 display-block center-col text-large sm-width-100">The page you were looking for could not be found.</span>
                          <a routerLink="/home" class="btn btn-transparent-white btn-medium text-extra-small border-radius-4"><i class="ti-arrow-left margin-5px-right no-margin-left" aria-hidden="true"></i> Back To Homepage</a>
                      </div>
                  </div>                            
              </div>
          </div>
      </div>
  </div>
</section>