 <!-- start help section -->
 <section class="wow fadeIn big-section">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12 text-center center-col">
              <span class="alt-font text-small text-uppercase">We would love to work with you</span>
              <h2 class="alt-font font-weight-700 letter-spacing-minus-1 text-extra-dark-gray">How we can help</h2>
              <p class="width-75 center-col xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and industry.</p>
              <a href="#start-your-project" class="btn btn-large btn-transparent-dark-gray margin-10px-top inner-link">Start your Project</a>
          </div>
      </div>
  </div>
</section>
<!-- end help section -->
<!-- start contact section -->
<section class="no-padding bg-extra-dark-gray">
  <div class="container-fluid">
      <div class="row equalize sm-equalize-auto">
          <div class="col-md-6 col-sm-12 no-padding cover-background sm-height-450px xs-height-350px wow fadeInLeft" style="background: url(../../assets/images/contact-head.jpg)"></div>
          <div class="col-md-6 col-sm-12 no-padding col-2-nth wow fadeInRight">
              <!-- start contact item -->
              <div class="col-md-6 col-sm-6 col-xs-12 display-table bg-extra-dark-gray height-350px last-paragraph-no-margin">
                  <div class="display-table-cell vertical-align-middle text-center">
                      <i class="icon-map text-green icon-medium margin-25px-bottom"></i>
                      <div class="text-white text-uppercase alt-font font-weight-600 margin-5px-bottom">Contact Address</div>
                      <p class="width-60 md-width-80 center-col text-medium">4, Ebun Ayodele Street, Abule Egba, Lagos.</p>
                  </div>
              </div>
              <!-- end contact item -->
              <!-- start contact item -->
              <div class="col-md-6 col-sm-6 col-xs-12 display-table bg-black height-350px last-paragraph-no-margin">
                  <div class="display-table-cell vertical-align-middle text-center">
                      <i class="icon-chat text-green icon-medium margin-25px-bottom"></i>
                      <div class="text-white text-uppercase alt-font font-weight-600 margin-5px-bottom">Let's Talk</div>
                      <p class="center-col text-medium no-margin">+234 (0) 80 268 222 64</p>
                      <p class="center-col text-medium">+234 (0) 80 323 479 60</p>
                  </div>
              </div>
              <!-- end contact item -->
              <!-- start contact item -->
              <div class="col-md-6 col-sm-6 col-xs-12 display-table bg-black height-350px last-paragraph-no-margin">
                  <div class="display-table-cell vertical-align-middle text-center">
                      <i class="icon-envelope text-green icon-medium margin-25px-bottom"></i>
                      <div class="text-white text-uppercase alt-font font-weight-600 margin-5px-bottom">Email Us</div>
                      <p class="center-col text-medium no-margin"><a href="mailto:info@domain.com" class="text-green-hover">info@domain.com</a></p>
                      <p class="center-col text-medium"><a href="mailto:hire@domain.com" class="text-green-hover">hire@domain.com</a></p>
                  </div>
              </div>
              <!-- end contact item -->
              <!-- start contact item -->
              <div class="col-md-6 col-sm-6 col-xs-12 display-table bg-extra-dark-gray height-350px last-paragraph-no-margin">
                  <div class="display-table-cell vertical-align-middle text-center">
                      <i class="icon-clock text-green icon-medium margin-25px-bottom"></i>
                      <div class="text-white text-uppercase alt-font font-weight-600 margin-5px-bottom">Working Hours</div>
                      <p class="center-col text-medium no-margin">Mon to Sat - 9 AM to 11 PM</p>
                      <p class="center-col text-medium">Sunday - 10 AM to 6 PM</p>
                  </div>
              </div>
              <!-- end contact item -->
          </div>
      </div>
  </div>
</section>
<!-- end contact section -->        
<!-- start form style 02 section -->
<section class="wow fadeIn">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
              <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase">tell us about your project</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text.</p>
          </div>  
      </div>
      <form id="contact-form-2" [formGroup]="contactForm">
          <div class="row">
              <div class="col-md-8 wow fadeIn center-col text-center">
                  <div id="success-contact-form-2" class="no-margin-lr"></div>
                  <input type="text" name="name" id="name" formControlName="name" placeholder="Name*" class="input-border-bottom">
                  <input type="text" name="email" id="email" formControlName="email" placeholder="E-mail*" class="input-border-bottom">
                  <input type="text" id="subject" name="subject" formControlName="subject" placeholder="Subject" class="input-border-bottom">
                  <textarea name="comment" id="comment"  formControlName="message" placeholder="Your Message" class="input-border-bottom"></textarea>
                  <button *ngIf="formClean" id="contact-us-button-2" type="submit" class="btn btn-small btn-deep-blue margin-30px-top xs-margin-three-top" (click)="getFormData()">send message</button>
              </div>
          </div>
      </form>
  </div>     
</section>
<!-- end form style 02 section -->
<section class="wow fadeIn bg-light-gray">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center social-style-4 border round">
              <span class="text-medium font-weight-600 text-uppercase display-block alt-font text-extra-dark-gray margin-30px-bottom">On social networks</span>
              <div class="social-icon-style-4">
                  <ul class="margin-30px-top large-icon">
                      <li><a class="facebook" href="http://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a></li>
                      <li><a class="twitter" href="http://twitter.com/" target="_blank"><i class="fab fa-twitter"></i><span></span></a></li>
                      <li><a class="google" href="http://google.com/" target="_blank"><i class="fab fa-google-plus-g"></i><span></span></a></li>
                      <li><a class="dribbble" href="http://dribbble.com/" target="_blank"><i class="fab fa-dribbble"></i><span></span></a></li>
                      <li><a class="linkedin" href="http://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>