<!-- start page title section -->
<section class="no-padding one-third-screen position-relative">
  <div class="opacity-medium bg-extra-dark-gray z-index-0"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-table one-third-screen page-title-large">
              <div class="display-table-cell vertical-align-middle text-center">
                  <!-- start sub title -->
                  <span class="display-block text-white opacity6 margin-10px-bottom alt-font">We provide unimaginable services</span>
                  <!-- end sub title -->
                  <!-- start page title -->
                  <h1 class="alt-font text-white font-weight-600 width-55 sm-width-80 xs-width-100 center-col no-margin-bottom">We make your business accountable!</h1>
                  <!-- end page title -->
              </div>
          </div>
          <div class="down-section text-center"><a class="inner-link"><i class="ti-arrow-down icon-extra-small text-white bg-deep-blue padding-15px-all xs-padding-10px-all border-radius-100"></i></a></div>
      </div>
  </div>
  <div class="swiper-auto-fade swiper-container z-index-minus2 position-absolute top-0 width-100 height-100">
      <div class="swiper-wrapper">
          <!-- start slider item -->
          <div class="swiper-slide cover-background one-third-screen" style="background-image:url('../../assets/images/analysis.jpg');"></div>
          <!-- end slider item -->
          <!-- start slider item -->
          <div class="swiper-slide cover-background one-third-screen" style="background-image:url('../../assets/images/bill-black.jpg');"></div>
          <!-- end slider item -->
          <!-- start slider item -->
          <div class="swiper-slide cover-background one-third-screen" style="background-image:url('../../assets/images/side-img.jpg');"></div>
          <!-- end slider item -->
      </div>
      <div class="swiper-pagination swiper-auto-pagination display-none"></div>
  </div>
</section>
<!-- end page title section -->
<!-- start hero section -->
<section class="no-padding-bottom" id="section-down">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-9 center-col margin-six-bottom text-center last-paragraph-no-margin">
              <div class="alt-font text-deep-blue margin-10px-bottom text-uppercase text-small">We combine design, thinking and craft</div>
              <h5 class="alt-font text-extra-dark-gray font-weight-600">We offer top-notch services which helps to scale your business to compete with big guns out there!</h5>
              <p class="width-80 center-col display-inline-block xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 text-center">
              <img src4="images/services-img11.jpg" alt=""/>
          </div>
      </div>
  </div>
</section>
<!-- end banner section -->
<!-- start feature box section -->
<section class="parallax" data-stellar-background-ratio="0.4" style="background-image:url('../../assets/images/parallax-bg20.jpg');">
  <div class="container">
      <div class="row">
          <!-- start feature box item -->
          <div class="col-md-3 last-paragraph-no-margin sm-margin-30px-bottomRight">
              <div class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center">
                  <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="../../assets/images/image-icon4.png" alt=""/></div>
                  <div class="text-small alt-font text-medium-gray text-uppercase">Accountancy</div>
                  <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Making your business accountable!</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text.</p>
              </div>
          </div>
          <!-- end feature box block -->
          <!-- start feature box item -->
          <div class="col-md-3 last-paragraph-no-margin sm-margin-30px-bottomRight">
              <div class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center">
                  <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="../../assets/images/image-icon2.png" alt=""/></div>
                  <div class="text-small alt-font text-medium-gray text-uppercase">Taxation</div>
                  <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">We maintain your taxes so you don't run into losses.</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
              </div>
          </div>
          <!-- end feature box block -->
          <!-- start feature box item -->
          <div class="col-md-3 last-paragraph-no-marginRight">
              <div class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center">
                  <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="../../assets/images/image-icon4.png" alt=""/></div>
                  <div class="text-small alt-font text-medium-gray text-uppercase">Forensic Accounting</div>
                  <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">We secure businesses in all domains.</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
              </div>
          </div>
          <!-- end feature box block -->
          <!-- start feature box item -->
          <div class="col-md-3 last-paragraph-no-marginRight">
              <div class="padding-50px-all md-padding-40px-all xs-padding-30px-all bg-white box-shadow text-center">
                  <div class="padding-35px-all display-inline-block border-radius-100 margin-40px-bottom xs-margin-30px-bottom bg-light-gray"><img src="../../assets/images/image-icon3.png" alt=""/></div>
                  <div class="text-small alt-font text-medium-gray text-uppercase">Financial Advisory</div>
                  <span class="alt-font text-extra-dark-gray font-weight-600 display-block margin-20px-bottom">Giving you insights in growing your business.</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
              </div>
          </div>
          <!-- end feature box block -->
      </div>
  </div>
</section>
<!-- end feature box section -->
<!-- start feature box section  -->
<section class="bg-extra-dark-gray">
  <div class="container-fluid">
      <div class="row">
          <!-- start feature box item -->
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 last-paragraph-no-margin md-margin-30px-bottom">
              <div class="padding-40px-lr text-center border-right border-width-1 border-color-medium-dark-gray md-no-border-right xs-padding-15px-lr">
                  <h3 class="font-weight-300 letter-spacing-minus-2 text-deep-blue alt-font margin-10px-bottom">01</h3>
                  <span class="alt-font display-block text-uppercase text-small">Save your Time</span>
                  <span class="text-green text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block text-deep-green">Best Services</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
              </div>
          </div>
          <!-- end feature box item -->
          <!-- start feature box item -->
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 last-paragraph-no-margin md-margin-30px-bottomLeft">
              <div class="padding-40px-lr text-center border-right border-width-1 border-color-medium-dark-gray md-no-border-right xs-padding-15px-lr">
                  <h3 class="font-weight-300 letter-spacing-minus-2 text-deep-blue alt-font margin-10px-bottom">02</h3>
                  <span class="alt-font display-block text-uppercase text-small">All you Need</span>
                  <span class="text-green text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block text-deep-green">Professional</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
              </div>
          </div>
          <!-- end feature box item -->
          <!-- start feature box item -->
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 last-paragraph-no-margin sm-margin-30px-bottomLeft">
              <div class="padding-40px-lr text-center border-right border-width-1 border-color-medium-dark-gray md-no-border-right xs-padding-15px-lr">
                  <h3 class="font-weight-300 letter-spacing-minus-2 text-deep-blue alt-font margin-10px-bottom">03</h3>
                  <span class="alt-font display-block text-uppercase text-small">Dedicated Supports</span>
                  <span class="text-green text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block text-deep-green">Support</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
              </div>
          </div>
          <!-- end feature box item -->
          <!-- start feature box item -->
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 last-paragraph-no-marginLeft">
              <div class="padding-40px-lr text-center xs-padding-15px-lr">
                  <h3 class="font-weight-300 letter-spacing-minus-2 text-deep-blue alt-font margin-10px-bottom">04</h3>
                  <span class="alt-font display-block text-uppercase text-small">Creative Thinking</span>
                  <span class="text-green text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block text-deep-green">Digital Marketing</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
              </div>
          </div>
          <!-- end feature box item -->
      </div>
  </div>
</section>
<!-- end feature box section  -->
<!-- start feature box section -->
<section class="wow fadeIn">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <img src="images/image-right.png" alt=""/>
          </div>
      </div>
  </div>
  <div class="container margin-one-top md-margin-three-top sm-no-margin-top">
      <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 sm-text-center sm-margin-40px-bottom xs-margin-30px-bottom">
              <h5 class="text-extra-dark-gray font-weight-600 alt-font no-margin">The accounting and advisory team your company needs!</h5>
          </div>
          <!-- start feature box item -->
          <div class="col-md-4 col-sm-6 col-xs-12 sm-text-center xs-margin-30px-bottom last-paragraph-no-margin">
              <div class="col-md-3 text-center xs-no-padding-lr">
                  <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">01</h2>
              </div>
              <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                  <span class="alt-font text-medium text-extra-dark-gray margin-5px-bottom display-block bg-deep-green">Modern Framework</span>
                  <p class="width-80 md-width-100">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
              </div>
          </div>
          <!-- end feature box item -->
          <!-- start feature box item -->
          <div class="col-md-4 col-sm-6 col-xs-12 sm-text-center last-paragraph-no-margin">
              <div class="col-md-3 text-center xs-no-padding-lr">
                  <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">02</h2>
              </div>
              <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                  <span class="alt-font text-medium text-extra-dark-gray margin-5px-bottom display-block bg-deep-green">Live Website Builder</span>
                  <p class="width-80 md-width-100">Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
              </div>
          </div>
          <!-- end feature box item -->
      </div>
  </div>
</section>
