#side-img {
    height: 350px;
    width: 100%;
    opacity: .5;
}
#side-img:hover{
    transform: scale(-360deg);
    opacity: 1;
}
.slider-long-arrow-white {
    background-color: #fff;
}

#s-bg {
    background-image: url("../../assets/images/side-img.jpg");
    background-size: cover;
    background-position: relative;
}