<section class="position-relative wow fadeIn">
  <div class="opacity-light bg-extra-dark-gray z-index-0"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-8 col-xs-12 display-table small-screen center-col">
              <div class="display-table-cell vertical-align-middle text-center">
                  <span class="text-medium margin-20px-bottom display-block alt-font"></span>
                  <h4 class="alt-font text-light-gray"></h4>
              </div>
          </div>
      </div>
  </div>
  <!-- start HTML5 video -->
  <video id="video" loop="" autoplay="true" controls="true" muted="" class="html-video" poster="images/maintenance-bg.jpg">
      <source type="video/mp4" src="../../assets/video/video.mp4">
  </video>
  <!-- end HTML5 video -->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-11 col-xs-12 center-col text-center margin-six-bottom xs-margin-30px-bottom">
                <div class="alt-font text-medium-gray margin-5px-bottom text-uppercase font-weight-200">About OK Accounting Firm</div>
                <h6 class="font-weight-300 text-extra-dark-gray no-margin">
                    Lorem ipsum <em class="font-weight-300">dolor sit amet consectetur</em> adipisicing elit. Repudiandae eos nisi libero doloribus <strong class="font-weight-300">
                        consequatur temporibus
                    </strong> nostrum tempore a at, nam explicabo amet mollitia sequi! Expedita <b class="font-weight-300">veniam velit</b> soluta officiis iste!
                </h6>
            </div>
        </div>
    </div>
    <section class="wow fadeIn bg-success">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                    <div class="position-relative overflow-hidden width-100">
                        <span class="text-large text-outside-line-full alt-font font-weight-300 text-uppercase">What we do.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- start services item -->
                <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-four-bottom xs-margin-eight-bottom last-paragraph-no-margin"
                routerLink="/services" fragment="loading">
                    <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5">
                        <div class="display-inline-block margin-20px-bottom"><i class="icon-bargraph text-white icon-round-small bg-deep-blue"></i></div>
                        <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Accountancy</div>
                        <p class="width-75 md-width-90 center-col">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                        <div class="feature-box-overlay bg-deep-blue"></div>
                    </div>
                </div>
                <!-- end services item -->
                <!-- start services item -->
                <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-four-bottom xs-margin-eight-bottom last-paragraph-no-margin"
                routerLink="/services" fragment="loading">
                    <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5">
                        <div class="display-inline-block margin-20px-bottom"><i class="icon-briefcase text-white icon-round-small bg-deep-blue"></i></div>
                        <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Taxation</div>
                        <p class="width-75 md-width-90 center-col">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                        <div class="feature-box-overlay bg-deep-blue"></div>
                    </div>
                </div>
                <!-- end services item -->
                <!-- start services item -->
                <div class="col-md-3 col-sm-6 col-xs-12 xs-margin-eight-bottom last-paragraph-no-margin"
                routerLink="/services" fragment="loading" >
                    <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5">
                        <div class="display-inline-block margin-20px-bottom"><i class="icon-linegraph text-white icon-round-small bg-deep-blue"></i></div>
                        <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Forensic Accounting</div>
                        <p class="width-75 md-width-90 center-col">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                        <div class="feature-box-overlay bg-deep-blue"></div>
                    </div>
                </div>
                <!-- end services item -->
                <!-- start services item -->
                <div class="col-md-3 col-sm-6 col-xs-12 last-paragraph-no-margin">
                    <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5"
                    routerLink="/services" fragment="loading">
                        <div class="display-inline-block margin-20px-bottom"><i class="icon-shield text-white icon-round-small bg-deep-blue"></i></div>
                        <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Financial Advisory </div>
                        <p class="width-75 md-width-90 center-col">Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
                        <div class="feature-box-overlay bg-deep-blue"></div>
                    </div>
                </div>
                <!-- end services item -->
            </div>
        </div>
    </section>
    <!-- Start about section -->
    <section class="no-padding bg-light text-center" id="services">
        <div class="container-fluid no-padding">
                <div class="text-center col-md-12 col-sm-12 col-xs-12 display-table last-paragraph-no-margin" >
                    <div class="display-table-cell vertical-align-middle padding-fifteen-all sm-padding-ten-all xs-padding-30px-all sm-text-center">
                        <span class="text-medium margin-20px-bottom sm-margin-15px-bottom display-block alt-font xs-margin-15px-bottom">We are an accounting start up!</span>
                        <h4 class="alt-font text-info">We work according to your budget.</h4>
                        <p class="width-100 md-width-200 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry.</p>
                        <a routerLink="/about" class="btn btn-small btn-blue btn-rounded margin-35px-top sm-margin-25px-top">About Us</a>
                    </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- Start contact section -->
    <section class="border-bottom border-color-extra-light-gray">
            <div class="container">
                <div class="row sm-col-2-nth">
                    <!-- start features box item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center sm-margin-50px-bottom xs-margin-30px-bottom last-paragraph-no-margin">
                        <i class="icon-map-pin icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Our Office</div>
                        <p class="width-70 md-width-85 sm-width-50 xs-width-60 xs-margin-10px-bottom center-col">Ebun Ayodele Street, Off Captain Bus stop, Olota, Abule Egba, Lagos.</p>
                        <a routerLink="/contact" class="margin-15px-top display-inline-block text-uppercase text-deep-blue text-small xs-no-margin-top">GET DIRECTION</a>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center sm-margin-50px-bottom xs-margin-30px-bottom last-paragraph-no-margin">
                        <i class="icon-chat icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Let's Talk</div>
                        <p class="width-70 md-width-85 sm-width-50 xs-width-60 xs-margin-10px-bottom center-col">Phone: 08026822264<br>Fax: 1-800-222-002</p>
                        <a href="contact-us-classic.html" class="margin-15px-top display-inline-block text-uppercase text-deep-blue text-small xs-no-margin-top">call us</a>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 text-center xs-margin-30px-bottom last-paragraph-no-margin" >
                        <i class="icon-envelope icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">E-mail Us</div>
                        <p class="width-70 md-width-85 sm-width-50 xs-width-60 xs-margin-10px-bottom center-col"><a href="mailto:info@yourdomain.com">okprofessionalservices@gmail.com</a><br><a href="mailto:hr@yourdomain.com">ola_olaore@yahoo.com</a></p>
                        <a href="contact-us-classic-02.html" class="margin-15px-top display-inline-block text-uppercase text-deep-blue text-small xs-no-margin-top">send e-mail</a>
                    </div>
                    <!-- end features box item -->
                    <!-- end features box item -->
                </div>
            </div>
        </section>
        <!-- End contact section -->
</section>
