<footer class="footer-modern padding-five-tb xs-padding-30px-tb">
  <div class="footer-widget-area padding-40px-bottom xs-padding-30px-bottom">
      <div class="container">
          <div class="row equalize xs-equalize-auto">
              <!-- start slogan -->
              <div class="col-md-4 col-sm-12 col-xs-12 xs-text-center sm-margin-three-bottom xs-margin-20px-bottom display-table">
                  <div class="display-table-cell vertical-align-middle">
                      <h6 class="text-success width-70 md-width-100 no-margin-bottom">OK Accounting Firm </h6>
                  </div>
              </div>
              <!-- end slogan -->
              <!-- start contact information -->
              <div class="col-md-4 col-sm-6 col-xs-12 xs-text-center xs-margin-20px-bottom display-table">
                  <div class="display-table-cell vertical-align-middle">
                      <span class="display-block">4, Ebun Ayodele Street, Off Captain bus stop, Olota, Abule Egba, Lagos.</span>
                      <a href="mailto:okprofessionalservices@gmail.com" title="okprofessionalservices@gmail.com">okprofessionalservices@gmail.com</a> <br> <a href="tel:+234 80 268 222 64">+234 (0) 80 268 222 64</a> <br> <a href="tel: +234 80 323 479 60">+234 (0) 80 323 479 60</a>
                  </div>
              </div>
              <!-- end contact information -->
              <div class="col-md-4 col-sm-6 col-xs-12 social-style-2 xs-text-center display-table">
                  <div class="display-table-cell vertical-align-middle">
                      <!-- start logo -->
                      <a><img class="footer-logo" src="../../../assets/images/logo.jpg" data-rjs="images/logo@2x.png" alt="Ok Accounting Logo"></a>
                      <!-- end logo -->
                      <!-- start social media -->
                      <div class="social-icon-style-8">
                          <ul class="text-extra-small margin-20px-top xs-no-margin-bottom text-uppercase no-padding no-margin-bottom list-style-none">
                              <li class="display-inline-block margin-10px-right"><a href="http://twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                              <li class="display-inline-block margin-10px-right"><a href="http://facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                              <li class="display-inline-block margin-10px-right"><a href="http://instagram.com/" target="_blank" title="Instagram">Instagram</a></li>
                              <li class="display-inline-block"><a href="http://dribbble.com/" target="_blank" title="Dribbble">Dribbble</a></li>                                                              
                          </ul>
                      </div>
                      <!-- end social media -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="footer-bottom border-color-extra-light-gray border-top padding-40px-top xs-padding-30px-top">
          <div class="row">
              <!-- start copyright -->
              <div class="col-md-6 col-sm-6 col-xs-12 text-left text-small xs-text-center">OK Accounting Firm</div>
              <div class="col-md-6 col-sm-6 col-xs-12 text-right text-small xs-text-center">&copy; 2018 This website is proudly powered by <a href="http://www.zamorite.com.ng/" target="_blank" title="Zamorite">Zamorite</a> and <a href='https://www.olaorefouad.io/' title="Foodie" target="_blank">Foodie</a></div>
              <!-- end copyright -->
          </div>
      </div>
  </div>
</footer>
